<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">enter your completed courses here</p>
    <a href="/courses/add" class="btn btn-dark btn-lg">add a course</a>
    <a href="/courses" class="btn btn-dark btn-lg">go to courses</a>
</div>