<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <h3 class="text-center">account registration</h3>
            <form action="/users/register" method="post">
                <div class="form-group">
                    <label for="text">name</label>
                    <input type="text" class="form-control" name="name" value="{{name}}" required>
                </div>
                <div class="form-group">
                    <label for="email"> email</label>
                    <input type="email" class="form-control" name="email" value="{{email}}" required>
                </div>
                <div class="form-group">
                    <label for="password"> password</label>
                    <input type="password" class="form-control" name="password" value="{{password}}" required>
                </div>
                <div class="form-group">
                    <label for="passwordC">confirm password</label>
                    <input type="passwordC" class="form-control" name="passwordC" value="{{passwordC}}" required>
                </div>

                <button type="submit" class="btn btn-dark btn-block">submit</button>
            </form>
        </div>
    </div>
</div>